<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="banco" connectionString="data source=.\sqlexpress;initial catalog=banco;integrated security=true; connect timeout=30" providerName="system.data.sqlclient"/>
  </connectionStrings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>